body{
  margin:0;
  overflow: auto;
   background-color:#a6a6a6;
}
img{
  margin-left:41%;
}
  @media screen and (max-width:750px){
  img{
    margin-left:35%;
  }
  }
  @media screen and (max-width:600px){
  img{
    margin-left:30%;
  }
  }
  @media screen and (max-width:450px) and (min-width:416px){
    img{
      margin-left:25%;
    } 
  }
  @media screen and (max-width:416px) and (min-width:400px){
  img{
    margin-left:20%;
  }
  }
  @media screen and (max-width:300px){
  img{
    margin-left:10%;
  }
  }
  @media screen and (max-width:390px){
  img{
    margin-left:20%;
  }
  }
  @media screen and (max-width:360px){
  img{
    margin-left:17%;
  }
  }
  @media screen and (max-width:300px){
  img{
    margin-left:10%;
  }
  }
  @media screen and (max-width:340px){
  img{
    margin-left:13%;
  }
  }
 
p{ 
  text-align: center;
  font-size:1.2em;
}
ul{
  font-size:1.3em;
  margin-left:15%;
  margin-right:15%;
}
hr {
    display: block;
    height: 1em;
    border: 0;
    border-top: 0.1em solid #4d4d4d;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0; 
}
#title {
  float: left;
  text-align: center;
  background-color: #cccccc;
  width: 100%;
  top: 0;
  position: fixed;
  margin-left:0;
  font-size: 1.25em;
}
#content{
  background-color:#e6e6e6;
  margin-left:5%;
  margin-top:10%;
  margin-right:5%;
  margin-bottom:6%;
}
#e{
  font-size : 2em;
}
#timeline{
  font-size:1.5em;
}
#sources{
  font-size : 1.8em;
}
#Author{
  font-size : 1.6em;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:visited{
  cursor: pointer;
  text-decoration: none;
  color : blue;
}
a:hover{
  cursor: pointer;
  text-decoration: none;
}

  
